/* General */
body {
    width: 100%;
    margin: 0 auto;
    font-family: 'Merriweather', Helvetica, sans-serif;
}

input[type="text"] {
    width: 360px;
    margin: 10px auto;
    height: 30px;
    font-size: 1em;
    border: 1px solid rgb(138, 130, 130);
}

a {
    text-decoration: none;
}

/* Flexbox */

fieldset {
    border: none;
}

.container {
    display: flex;
    justify-content: space-between;
}

/* Grid Layout */

.gallery {
    margin: 0 auto;
    padding: 25px;
    max-width: 900px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    justify-content: center;
    align-content: center;
    grid-gap: 25px;
    grid-auto-rows: minmax(200px, auto);
    height: 100vh;
}